<section class="u-py-100 u-h-100vh u-flex-center main-bg-gradient-1">
      <div class="container">
            <div class="row">
                  <div class="col-12 u-mt-80 text-center">
                        <h1 class="display-4 u-fw-500 text-white u-mb-40">
                              Contac Media Generates
                              <span class="text-purple" data-type="Leads, Sales, Business"></span>
                              <span class="typed-curcor text-purple">|</span>
                        </h1>
                        <p class="u-fs-18 text-white u-lh-1_8 u-mb-40">
                              Contac Media is a company that caters to the modern business. We build custom websites,
                              generate leads through Search Engine Optimization, manage Social Media platforms,
                              and help small companies reach their full potential. We have a constructive approach to
                              building your online presence and a tactical approach to digital marketing and lead generation.

                        </p>

            </div>
            <div class="row mt-md-5">
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    We Build
                              </h2>
                              <p>
                                    Custom Landing Pages
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    We Manage
                              </h2>
                              <p>
                                    Social Media
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    We Optimize
                              </h2>
                              <p>
                                    Your Online Presence
                              </p>
                        </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mt-5">
                        <div class="text-center border p-4 rounded text-white">
                              <h2 class="text-white u-fs-48">
                                    We Build
                              </h2>
                              <p>
                                    Your Business
                              </p>
                        </div>
                  </div>
            </div>
      </div>
</section>

  <section class="u-py-100 main-bg-gradient-2">
           <div class="container">
              <div class="row text-center">
                 <div class="col-md-4 u-mt-30">
                    <div class="bg-white px-5 u-py-50 u-h-100p rounded">
                       <%=image_tag("svg/seo.svg", class: "u-w-100", alt: "")%>

                       <h4 class="u-fs-26 u-my-35">
                         Digital Marketing and SEO
                       </h4>
                       <p class="mb-0">
                         From pay-per-click ads to on-site keyword optimization, backlinking, and more,
                         we'll ensure that you're making an impact.
                       </p>
                    </div>
                 </div>
                 <div class="col-md-4 u-mt-30">
                    <div class="bg-white px-5 u-py-50 u-h-100p rounded">
                    <%=image_tag("svg/pie-chart.svg", class: "u-w-100", alt: "")%>

                       <h4 class="u-fs-26 u-my-35">
                         Custom Web Design
                       </h4>
                       <p class="mb-0">
                         Need a custom landing page or a full website? We'll work with you to create
                         a sales-driven site that will improve your credibility and draw in new clients.
                       </p>
                    </div>
                 </div>
                 <div class="col-md-4 u-mt-30">
                    <div class="bg-white px-5 u-py-50 u-h-100p rounded">
                    <%=image_tag("svg/protractor.svg", class: "u-w-100", alt: "")%>

                       <h4 class="u-fs-26 u-my-35">
                         A Personal Touch
                       </h4>
                       <p class="mb-0">
                         At Contac Media, we believe in providing the best possible customer service.
                         We will work with you every step of the way to create a final result that you
                         can be 100% satisfied with.
                       </p>
                    </div>
                 </div>
              </div>
           </div>
        </section>

        <section class="bg-white u-pb-80">
         <div class="container">
            <div class="row">
               <div class="col-12 text-center">
                  <h2 class="text-purple u-fs-60">We Offer a Full Range of <br>Digital Marketing Services!</h2>
                  <div class="u-h-4 u-w-50 bg-orange-light rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4">
               <%=image_tag("seo/s-3.png", alt: "")%>

               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4">
                  <h2 class="u-mb-30">
                     Social Media Marketing
                  </h2>
                  <p class="text-white-light">
                   Social Media marketing is the best way to spread your brand among a targeted, local demographic. Through both paid advertising and brand development, you'll get access to a host of high-quality local leads.
                  </p>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4 order-2 order-lg-1">
                  <h2 class="u-mb-30">
                     Email Marketing
                  </h2>
                  <p class="text-white-light">
                    If you want to develop your brand, then you need an email funnel that draws in new clients. We will create both an email funnel and a customized email marketing campaign to ensure that your brand stays in the forefront of your clients' view.
                  </p>
               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4 order-1 order-lg-2">
               <%=image_tag("seo/s-4.png", alt: "")%>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-6 my-4">
               <%=image_tag("seo/s-5.png", alt: "")%>
               </div>
               <div class="col-lg-5 ml-auto mt-5 mb-4">
                  <h2 class="u-mb-30">
                    Customized Content Creation
                  </h2>
                  <p class="text-white-light">
                    In the eye's of today's search engine algorithms, content is king. We'll work with you to create custom blog posts, keyword-optimized content, and catchy headlines that will attract a constant stream of fresh visitors. 
                  </p>
               </div>
            </div>
         </div>
      </section>

<section class="u-py-100" style="background:#F1BAF3">
      <div class="container">
            <div class="row text-center">
                  <div class="col-lg-6 mx-auto mt-5 text-white">
                        <p class="u-fs-20">
                          Take Your First Step Towards Greatness
                        </p>
                        <h2 class="h1 text-purple my-4">
                          Are You Ready To See <br>
                          The Contac Media <br>
                          Advantage?
                        </h2>
                        <%= link_to 'Get a Free Estimate!', pages_Contact_path, class: "btn btn btn-rounded btn-purple m-2 px-md-5 py-3" %>

                  </div>
            </div>
      </div>
</section>
