<section class="u-py-100" data-dark-overlay="6">
       <div class="container">
          <div class="row">
             <div class="col-12 text-center">
                <h2 class="h1">
                   Affordable SEO <br>
                   and <br>
                   Web Design <br>
                   Packages
                </h2>
                <div class="u-h-4 u-w-50 bg-green rounded mt-4 mx-auto"></div>
             </div>
          </div>
          <div class="row">
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/pie-shart-up.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        Custom Landing Pages
                      </h4>
                      <p>
                        Need a custom landing page or complete website for your business?
                        We'll build you a site from the ground up or work with your existing
                        content management system if applicable.
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/web-mail.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        Content Creation
                      </h4>
                      <p>
                        Today, search engines value high-quality content over everything.
                        Our experienced writers will help you develop your brand through weekly blog posts.
                      </p>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/paper-key.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        Social Media Management
                      </h4>
                      <p>
                        Staying on top of your social media when attention spans are short can be a challenge.
                        We can create a tailored social media marketing campaign that will greatly increase your
                        online footprint.
                      </p>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/compass.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        On-Page SEO
                      </h4>
                      <p>
                        Even if you already have a website, it might not be ranking due to poor
                        Search Engine Optimization practices and a lack of lead-generating keywords. We'll get your site in front of the people
                        who need to see it.
                      </p>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/search.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        Real-Time Analytics
                      </h4>
                      <p>
                        We'll provide real-time analytics so that you can track your
                        progress over time. This will show both you and our team which
                        campaigns are working and which need improvement.
                      </p>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6 u-mt-70">
                <div class="media">
                <%=image_tag("svg/traffic-lights.svg", class: "d-flex mr-4 u-w-70", alt: "")%>

                   <div class="media-body">
                      <h4>
                        PPC Management
                      </h4>
                      <p>
                        Pay-Per-Click marketing is still just as important as ever if you want to maintain
                        the relevance of your local business. We'll work on a budget and create a course of
                        action designed to attract new clients. 
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
</section>
